html {
  font-size: 20px; 
  font-family: "Open Sans", sans-serif; 
  background-color: #DBE8EA;
}
canvas {
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}    
h3 {
  font-size: 20px;
  text-align: center;
}
h1,h2 {
  font-size: 20px;
}
img{display: block; 
    margin-left: auto; 
    margin-right: auto; 
 width="430";height="650"}